.campo-cor {
  margin: 24px 0;
}

.campo-cor label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
}

.campo-cor input {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
  width: 50px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
